<!-- action = what route to use -->
<!-- method = what verb to use -->
<form action="/cryptids" method="POST">
    <!-- name = key that this data will enter our app on -->
    <!-- id matches up the label and the input -->
        <label for="cryptoName">Name</label>
        <input type="text" name="name" id="cryptoName">
        <label for="cryptoType">Type</label>
        <input type="text" name="name" id="cryptoType">
        <input type="submit">
    </form>